<%= render 'spree/admin/shared/configuration_menu' %>

<h1><%= t("affiliate_settings") %></h1>

<table>
  <tr>
    <th scope="row"><%= t("sender_credit_on_register_amount") %>:</th>
    <td><%= number_to_currency SpreeAffiliate::Config[:sender_credit_on_register_amount] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("recipient_credit_on_register_amount") %>:</th>
    <td><%= number_to_currency SpreeAffiliate::Config[:recipient_credit_on_register_amount] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("sender_credit_on_purchase_amount") %>:</th>
    <td><%= number_to_currency SpreeAffiliate::Config[:sender_credit_on_purchase_amount] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("recipient_credit_on_purchase_amount") %>:</th>
    <td><%= number_to_currency SpreeAffiliate::Config[:recipient_credit_on_purchase_amount] %></td>
  </tr>
  <tr>
    <th scope="row"><%= t("sender_credit_on_order_paid_amount") %>:</th>
    <td><%= number_to_currency SpreeAffiliate::Config[:sender_credit_on_order_paid_amount] %></td>
  </tr>
</table>

<p><%= link_to_with_icon 'edit', t("edit"), edit_admin_affiliate_settings_path %></p>


